# Liste des IP des serveurs séparées par des virgules
HOSTS=<à modifier>
# Adresse courriel à laquelle rediriger les alertes d’un serveur envoyée à root
MAIL_ROOT_REDIRECT=<à modifier>
# Utilisateur principal du serveur
HOST_USER=<à modifier>
# Durée de vie du mot de passe (en jours) de l’utilisateur principal
PASSWORD_EXPIRATION=<à modifier>
# Chemin vers votre clé SSH publique locale
PUBLIC_SSH_KEY=<à modifier>
